body{
    background-color: rgb(243, 233, 210);
    margin: 0;
}
.top-bar{
    height: auto;
    color: white;
}
a {
    color: #3a0869;
}
#indexpagebox {
    padding: 1em;
    margin: 1em;
}
.border-dark {
    margin: 0.5em;
}