:root {
    --primary-color: #1558b0;
    --accent-color: #ffa07a;
    --background-color: #f0f2f5;
    --about-bg-color: #ffffff;
    --text-color: #333;
}
body {
    background-color: var(--background-color);
}
.nav-link {
    color: var(--primary-color);
}
.about-section {
    background-color: var(--about-bg-color);
    color: var(--text-color);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.about-section:hover {
    transform: translateY(-10px);
}
#landing {
    background-color: var(--primary-color);
    color: white;
}
footer {
    background-color: var(--primary-color);
    color: white;
}
footer a {
    color: var(--accent-color);
}
.portfolio-card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}
.portfolio-card:hover {
    transform: translateY(-10px);
}
.portfolio-card.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    z-index: 1050;
    overflow-y: auto;
    background-color: white;
    backdrop-filter: none;
    padding: 20px; /* Optional: Add padding for better appearance */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}
.portfolio-card.expanded .card-body {
    text-align: left;
}
.portfolio-card.expanded .card-tags {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}
.carousel-indicators [data-bs-target] {
    background-color: var(--accent-color);
}
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}
.carousel-indicators {
    position: static;
    margin-top: 20px;
}
.carousel-item {
    padding: 20px;
}
.carousel-inner {
    padding: 20px;
}
